.main {
  min-height: 100dvh;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 20px;
}

.logo {
  border-radius: 50px;
  border: black solid 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 70px;
  margin-bottom: 40px;
  margin-top: 80px;
}


