.main {
  min-height: 100dvh;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 20px;
}

.logo {
  border-radius: 50px;
  border: black solid 5px;
}

.heading {
  font-size: 250px;
  font-weight: 100;
  margin-bottom: 30px;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60dvh;
  flex-direction: column;
  font-size: 30px;
}