.header {
  margin: 12px;
  margin-left: 56px;
  margin-right: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header section {
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.logo {
  border-radius: 50px;
  border: black solid 5px;
}

.navbar {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.navitem1,
.navitem2 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 500;
}

.navitem1 {
  background-color: transparent;
  color: black;
}

.navitem2 {
  background-color: #1e1e1e;
  color: white;
}

.icon {
  padding: 16px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.5);
}
