.box,
.hidden {
  height: 150px;
  width: 180px;
  padding: 20px;
  position: absolute;
  right: 30;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: solid 1px #303030;
  background-color: #5c5a5a50;
}

.button {
  background-color: gray;
  border: none;
  padding: 5px;
  font-family: inherit;
  font-size: 15px;
}

.hidden {
  display: none;
}
