/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

[data-theme='pink'] {
  --background: pink;
  --foreground: blue;
} */

.but {
  background-color: var(--foreground);
  color: var(--background);
}
